:root {
  --image: null;
}

.App {
  text-align: center;
  box-sizing: border-box;
}

.tile {
  background-color: whitesmoke;
  color: white;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1589377778631-73ae767b3413?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
  background-size: 500px 500px;
  background-repeat: no-repeat;
}

.tilesss {
  
  background-color: whitesmoke;
  color: black;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgz {
  background-image: url('https://images.unsplash.com/photo-1589377778631-73ae767b3413?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
  background-size: 500px 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.display {
  height: 500px;
  width: 500px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#zero {
  background-image: none;
  background-color: white;
  color: white;
}
